{% extends "templates/base.html" %}
{% load i18n %}

{% block title %}Be-Dal{% endblock %}

{% block header %}{% include 'templates/header_base.html' %}{% endblock %}

{% block header_content %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/home.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ MEDIA_URL }}plugins/tipsy.css" type="text/css" media="all" />
<script src="{{ MEDIA_URL }}plugins/jquery.tipsy.js" type="text/javascript"></script>
<style type="text/css">
#left-side { width:520px;float:left; }
#right-side { width:390px;float:right;height:350px;background:url('/media/img/layout/mobile-bg.png') no-repeat;
position:relative;bottom:40px; }
h2 { font-weight:200;background-color:#4E6D87;background-image:-moz-linear-gradient(#CBDAE3, #979B9F);display:block;
padding:25px 0;margin:auto;box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);text-align:center;
color:white;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);
border-radius:5px 5px 5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
h2>a { color:#E3FFB5; }
h2>a:hover { color:#fff; }
p { text-shadow:0 1px 0 #fff; }
</style>
{% endblock %}

{% block content %}
<h1 class="content-title">
  {% trans 'Want to view this page with your mobile?' %}
</h1>
<div id="left-side">
  <h2>
  {% blocktrans %}
    If your device is in <a href="http://jquerymobile.com/gbs/">this list</a>, 
    you can use the <a href="?flavour=mobile">mobile</a> site.
  {% endblocktrans %}
  </h2>
</div>
<div id="right-side">
</div>
{% endblock %}
